<h1>タスク一覧</h1>

<table>
  <tr>
    <th>タスクのID</th>
    <th>タスクの内容</th>
  </tr>
  
  <% @tasks.each do |task| %>
  <tr>
    <td><%= link_to task.id, task_path(task)  %></td>
    <td><%= task.content  %></td>
  </tr>
  <% end %>

</table>

<ul>
  <li><%= link_to 'タスクの新規作成', new_task_path %></li>
</ul>

